if [ -e "$(ls $HOME/.alias_*)" ]
then
  for file in $(ls $HOME/.alias_*)
  do
    source $file
  done
fi

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
ZSH_THEME="maran"

# sensitive completion must be off. _ and - will be interchangeable.
HYPHEN_INSENSITIVE="true"

# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HIST_STAMPS="dd.mm.yyyy"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
#plugins=(osx git rails ruby docker docker-compose bundler git-extras rbenv)
plugins=(osx git rails git-extras vim-mode zsh-autosuggestions docker docker-compose)

# syntax highlight
# source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# User configuration
export PATH="/usr/local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"

source $ZSH/oh-my-zsh.sh

# LS colors
export CLICOLOR=1
export LSCOLORS=gxBxhxDxfxhxhxhxhxcxcx

# aliases
alias top='htop'
alias df='df -h'
alias -g G='| grep'
alias v='vim'
alias json='jq'
alias sed='gsed'
alias ls="exa -la --git --time-style long-iso"

alias p="ipython"
alias cat="bat"
alias ls="exa -la --git --time-style long-iso"
alias dc="docker-compose"
alias p="ipython"
alias cat="bat"

# ruby/rails
alias spec="bundle exec rspec spec"

generate_list(){
  for mp4_file in *.mp4; do 
    echo "file '$(pwd)/$mp4_file'"
  done
}

alias merge_videos="generate_list > fileList.txt && ffmpeg -f concat -safe 0 -i $(pwd)/fileList.txt -c copy output.mp4"
