[core]
  editor = vim
[user]
  name = Celso Crivelaro
  email= celsocrivelaro@gmail.com
[merge]
  ff = no
  commit = no
[pull]
  rebase = true
#[branch]
#  autosetupmerge = always # track remote branch when it is created locally
#  autosetuprebase = always # always rebase instead of merge in 'git pull'
#[push]
#  default = tracking # only pushes current branch in 'git push'
 [alias]
    fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"  
